html {
    font-size: 14px;
}

.form-control, .form-control:focus {
    outline: 0;
    box-shadow: none;
}

.list-item {
    cursor: pointer;
    word-break: break-word;
}

.list-item img {
    max-width: 100px;
}